@page
@model IntroModel
@{
    ViewData["Title"] = "Introduction";
}

<div class="introduction-main">
    <!-- introduction section starts -->
    <section class="introduction-wrapper">
        <div class="container">
            <div class="introduction-wrapper_inner">
                <div class="text-wrapper">
                    <h3>Bipin Bhandari</h3>
                </div>
                <div class="form-wrapper">
                    <form>
                        <div class="form-group">
                            <label for="number1">Enter First Number</label>
                            <input type="number" class="form-control" name="number1" placeholder="Number">
                        </div>
                        <div class="form-group">
                            <label for="number2">Enter Second Number</label>
                            <input type="number" class="form-control" name="number2" placeholder="Number">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- introduction section ends -->
    <!-- description section starts -->
    <section class="description-wrapper">
        <div class="container">
            <div class="description-wrapper_inner">
                <div class="text-wrapper">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis bibendum nisi, vel tincidunt tellus accumsan vel. Fusce et pretium leo. Donec a sem euismod, placerat justo vel, blandit turpis. Proin vulputate, sapien ut laoreet venenatis, felis diam elementum nisl, id fringilla turpis ex sit amet sem. Nam placerat ante eu iaculis luctus. Maecenas dolor quam, suscipit et maximus id, interdum at justo. Praesent finibus, justo ut finibus congue, tortor sapien maximus metus, a vestibulum enim ex id lorem. Pellentesque id augue nisi.</p>
                    <p>Vivamus luctus, magna sed condimentum interdum, sapien enim pulvinar turpis, at volutpat enim lectus eu nibh. Aenean blandit felis vel ex rhoncus semper. Sed condimentum ex nec consectetur finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis erat ipsum, in rhoncus metus aliquam eu. Curabitur porta ut purus vehicula egestas. Nulla dignissim justo est. Vivamus eget neque nec justo fringilla sollicitudin. Aenean pellentesque, nisi vel ornare imperdiet, velit ipsum ullamcorper nibh, at dignissim lorem sem ut mauris. Ut quis congue nulla, sed malesuada lorem. Phasellus rutrum commodo velit, quis tincidunt leo vestibulum non. Vivamus malesuada vehicula enim, ac ullamcorper ante laoreet et. Suspendisse a malesuada arcu. Pellentesque rhoncus, mi eu blandit congue, arcu lacus posuere est, quis sagittis dolor mi dapibus lorem.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- description section ends -->
</div>
