@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-main">
    <section class="privary-content">
        <div class="container">
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </section>
</div>

